<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.password">root</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/TPINTEGRADORGRUPO8?createDatabaseIfNotExist=true</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hbm2ddl.auto">update</property>
  
  <mapping class="LAB5_TPINTEGRADOR_GRUPO8.entidad.TiposDeUsuarios"/>
  <mapping class="LAB5_TPINTEGRADOR_GRUPO8.entidad.Usuario"/>
  <mapping class="LAB5_TPINTEGRADOR_GRUPO8.entidad.TiposDeCuentas"/>
  <mapping class="LAB5_TPINTEGRADOR_GRUPO8.entidad.Cuentas"/>
  <mapping class="LAB5_TPINTEGRADOR_GRUPO8.entidad.Movimientos"/>
  <mapping class="LAB5_TPINTEGRADOR_GRUPO8.entidad.TipoMovimiento"/>
<mapping class="LAB5_TPINTEGRADOR_GRUPO8.entidad.Localidad"/>
<mapping class="LAB5_TPINTEGRADOR_GRUPO8.entidad.Provincia"/>
 </session-factory>
</hibernate-configuration>
